body{
    font-family: Arial;
    margin:20px;
}

h1{
    text-align:center;
}

select{
    padding:10px;
    width:300px;
}

.card{
    border:1px solid #ccc;
    padding:15px;
    margin-top:15px;
}
/* =========================
   POPUP CHART DESIGN
========================= */

.popup-chart-container{
    display:flex;
    gap:12px;
    width:640px;
    margin-top:10px;
}

.popup-chart{
    width:300px;
    height:220px;
}

/* Leaflet popup width */
.leaflet-popup-content{
    width:650px !important;
}

/* Popup title */
.popup-title{
    margin:0 0 10px 0;
    font-size:18px;
    color:#1976d2;
}

/* Mobile responsive */
@media(max-width:768px){

    .popup-chart-container{
        flex-direction:column;
        width:100%;
    }

    .popup-chart{
        width:100%;
        height:220px;
    }

    .leaflet-popup-content{
        width:320px !important;
    }
}
